// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* General styles */
body {
  background-color: #F9F9D9;
}

/* Sticky footer styles */
html,
body {
  height: 100%;
}

#content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
}

footer, #push {
  height: 30px;
}

footer {
    background-color: #1B1B1B;
    background-image: linear-gradient(to top, #222222, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
}

footer p {
  margin: auto;
  text-align: center;
}

@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@mixin border-radius($value) {
  -webkit-border-radius: $value;
     -moz-border-radius: $value;
          border-radius: $value;
}

@mixin box-shadow($value) {  
  -webkit-box-shadow: $value;
     -moz-box-shadow: $value;
          box-shadow: $value;
}

/* Products list styles */
ul.products li {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: 5px;
  margin-bottom: 5px;
  @include border-radius(5px);
  @include box-shadow(0 1px 2px rgba(0,0,0,.05));
}

ul.products li img {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 5px;
}

/* Sign in page styles */
.form-signin {
  max-width: 300px;
  padding: 20px 30px 30px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  @include border-radius(5px);
  @include box-shadow(0 1px 2px rgba(0,0,0,.05));
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="email"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 10px;
}

/* Shopping cart */
.cart img {
  width: 20px;
  height: 20px;
}

/* Thumbnail divider */
hr.divider {
  margin: 3px 0;
  border: 0;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #DDDDDD;
}
