.control-group
  .row
    .span2
      = form.label :name
    .span10
      = form.text_field :name, :class => "span10"

.control-group
  .row
    .span2
      = form.label :description
    .span10
      = form.text_area :description, :rows => 5, :class => "span10"
