.control-group
  = form.label :name, class: "control-label"
  .controls
    = form.text_field :name, class: "span9"

.control-group
  = form.label :description, class: "control-label"
  .controls
    = form.text_area :description, rows: 5, class: "span9"
