.row
  .span12
    .well
      = form_for @category, html: { class: "form-horizontal" } do |form|
        %legend Update category info
        = render 'layouts/errors', object: form.object
        = render 'category_fields', form: form
        .form-actions
          = form.submit "Update", class: "btn btn-primary"
