.row
  .span12
    .well
      %h1 Category list
      - if can? :create, Category
        .actions-container
          = link_to "Add category", new_category_path,
              { class: "btn btn-success", title: "Add category" }

      = render 'hierarchy', hierarchy: @categories
