.row
  .span12
    .well
      = form_for @product, html: { multipart: true, class: "form-horizontal" } do |form|
        %legend Update product info
        = render 'layouts/errors', object: form.object
        = render 'product_fields', form: form
        .form-actions
          = form.submit "Update", class: "btn btn-primary"
