%h1 Create product
= form_for @product do |form|
  = render 'layouts/errors', :object => form.object
  .row
    .span8
      = render 'product_fields', :form => form
  .row
    .span8
      .form-actions
        = form.submit "Create", :class => "btn btn-success"
