.row
  .well.span12
    = form_for @product, :html => { :multipart => true } do |form|
      %legend Create product
      = render 'layouts/errors', :object => form.object
      .row
        .span8
          = render 'product_fields', :form => form
      .row
        .span8
          .form-actions
            = form.submit "Create", :class => "btn btn-success"
