- types = { alert: :error, danger: :danger, error: :error,
            info: :info, notice: :info, success: :success }
- types.each do |key, value|
  - if flash[key]
    .row
      .span12
        .alert.fade.in{ class: "alert-#{value}" }
          %button.close{ data: { dismiss: "alert" }, type: "button" } &times;
          = flash[key]
